*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    @include Roboto-Thin;
}

.pure-g [class *= 'pure-u'] {
    line-height: 1.2;
    padding: 1em;
    color: $light-grey;
    @include Karma-Regular;

    p {
        margin: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-grey;
    @include Roboto-Thin;
}

h1 {
    text-transform: uppercase;
}

a {
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -1px;
    @include link-colors($grapefruit, $salmon);
}

.container {
    margin: 2em auto;

    @include breakpoint(768) {
        width: 95%;
    }

    @include breakpoint(1140) {
        width: 80%;
    }
}

.header {
    .pure-menu-heading {
        font-size: 22px;
        text-transform: none;
        color: $black;
        @include Zapfino;
    }

    .pure-menu {
        li {
            a,
            a:visited,
            a:link {
                padding: auto;
                color: $dark-grey;
            }

            a:hover {
                color: $white;
                background: $grapefruit;
            }
        }
    }
}

.main-content {
    height: 400px;
}

.grid-example {
    div {
        border: 1px solid white;
        background: $medium;
    }

    p {
        text-align: center;
        color: white;
    }
}
